[Unit]
Description=Aranea Hexapod Server (Headless TCP Mode)
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/piotr/Aranea_code/Code/Server
ExecStartPre=/bin/sleep 5
ExecStart=/usr/bin/python3 /home/piotr/Aranea_code/Code/Server/main.py
Environment=PYTHONUNBUFFERED=1
Restart=always
RestartSec=5
StandardOutput=append:/var/log/aranea_server.log
StandardError=append:/var/log/aranea_server_error.log

[Install]
WantedBy=multi-user.target