<!-- templates/index.html -->
{% extends 'base.html' %}

{% block content %}
  <!-- Tabs header -->
  <ul class="nav nav-tabs nav-fill mb-4" id="controlTabs">
    <li class="nav-item"><a class="nav-link active" data-bs-toggle="tab" href="#move">Move</a></li>
    <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#position">Position</a></li>
    <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#routines">Routines</a></li>
    <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#hardware">Hardware</a></li>
    <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#led">LED</a></li>
    <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#sensors">Sensors</a></li>
    <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#voice">Voice</a></li>
    <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#calibration">Calibration</a></li>
  </ul>

  <div class="tab-content h-100">
    {% include 'tabs/move.html' %}
    {% include 'tabs/position.html' %}
    {% include 'tabs/routines.html' %}
    {% include 'tabs/hardware.html' %}
    {% include 'tabs/led.html' %}
    {% include 'tabs/sensors.html' %}
    {% include 'tabs/voice.html' %}
    {% include 'tabs/calibration.html' %}
  </div>
{% endblock %}
